body{
    font-family: 'Inter', sans-serif;
}
header{
    background-color: var(--grey1);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
header > div > h1{
    color: var(--whithFixed);
    font-weight: 600;
}
header > div > button{
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey4);
    cursor: pointer;
}
.botão-distaque{
    margin-left: 10px;
    background-color: var(--grey2);
    padding: 5px;
    border-radius: 6px;
}
main{
    background-color:#f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    background-color: var(--whithFixed);
    width: 80%;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 30px;
}
form > div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
form h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin:30px 15px;
}
.btn-volta{
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: var(--grey1);
    border: 1px solid #212529;
    padding: 8px 12px;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    margin-right: 15px;
}
form input{
    width: 60%;
    padding: 16px 20px;
    margin: 7px;
    border: 2px solid #DEE2E6;
    border-radius: 4px;
}
.btn-register{
    background-color: var(--brand1);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    width: 75%;
    padding: 8px 12px;
    margin: 7px;
    border-radius: 5px;
    color: var(--grey4);
    cursor: pointer;
    margin-top: 20px;
}
form span{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 15px;
}
.btn-volta-login{
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: var(--grey1);
    border: 1px solid #212529;
    width: 75%;
    padding: 8px 12px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 30px;
}

