body{
    font-family: 'Inter', sans-serif;
}
nav{
    background-color: var(--grey1);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
nav > h1{
    color: var(--whithFixed);
    font-weight: 600;
}
nav > button{
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey4);
    cursor: pointer;
}
.container-big{
}
main{
    display: flex;
    flex-direction: column;
}
.perfil{
    display: flex;
    margin: 30px 15px;
}
.perfil > img{
    width: 52px;
    height: 52px;
    border-radius: 50px;
}
.perfil > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.perfil > div > h2{
    margin-left: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--grey1);
}
.perfil > div > h2 > span{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 7px;
}
.perfil > div > p{
    margin-left: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.bloco-post{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#post-titulo{
    width: 70%;
    padding: 14px 18px;
    margin-left: 7%;
    border: 2px solid #DEE2E6;
    border-radius: 4px;
}
#post-conteudo{
    width: 70%;
    padding: 14px 18px;
    margin-left: 7%;
    border: 2px solid #DEE2E6;
    border-radius: 4px;
}
.bloco-post > button{
    background-color: var(--grey4);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey3);
    width: 50px;
    height: 30px;
    border-radius: 5px;
    margin-left: 75%;
    margin-bottom: 20px;
}
#mobile{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--grey1);
    margin-left: 18px;
}
#desk{
    display: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--grey1);
}
.roll{
    margin-left: 18px;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
    width: 90%;
    margin-bottom: 20px;
}
.card{
    display: flex;
    width: 300px;
    gap: 15px;
}
.card > img{
    width: 52px;
    height: 52px;
}
.perfil-seguir{
    width: 150px;
    height: 100px;
}
.perfil-seguir > h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--grey1);
}
.perfil-seguir > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey2);
}
.perfil-seguir > button{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    width: 74px;
    height: 24px;
    background-color: var(--brand1);
    color: var(--whithFixed);
    margin-top: 12px;
    cursor: pointer;
    border-radius: 5px;
}
.card > button{
    display: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    width: 74px;
    height: 24px;
    background-color: var(--brand1);
    color: var(--whithFixed);
    margin-top: 12px;
    cursor: pointer;
    border-radius: 5px;
}
article{
    margin-left: 18px;
    max-width: 100%;
    margin-bottom: 30px;
    margin-right: 5px;
}
article > h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: var(--grey1);
    margin-bottom: 40px;
}
.perfil-do-post{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.perfil-do-post > img{
    width: 52px;
    height: 52px;
    border-radius: 50px;
}
.perfil-do-post > div > h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
    color: var(--grey1);
}
.perfil-do-post > div > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey2);
}
article > section > div > h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--grey1);
    margin-bottom: 20px;
    margin-right: 5px;
}
article > section > div > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey2);
    margin-bottom: 15px;
    margin-right: 5px;
}
.botoes-like-post{
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-abrir-post{
    width: 82px;
    height: 24px;
    background-color: var(--grey1);
    color: var(--whithFixed);
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 13px;
}
.botoes-like-post > img{
    cursor: pointer;
}

/* ------Modal-------*/

.modal-wrapper{
    height: 100%;
    width: 100%;
    background-color: var(--grey-opacity-1);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: baseline;
    justify-content: center;
}
.modal{
    margin-top: 20px;
    background-color: var(--whithFixed);
    width: 80%;
    border-radius: 4px;
}
.modal > button{
    margin: 3px;
    margin-left: 94%;
    color: var(--grey3);
    background-color: transparent;
}
.perfil-modal{
    display: flex;
}
.perfil-modal > img{
    margin-left: 10px;
    width: 52px;
    height: 52px;
    border-radius: 50px;
    margin-bottom: 25px;
}
.perfil-modal > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.perfil-modal > div > h2{
    margin-left: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--grey1);
}
.perfil-modal > div > p{
    margin-left: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.modal-body{
    padding: 0px 18px;
    margin-bottom: 18px;
}
.modal-body h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--grey1);
}
.modal-btn{
    display: flex;
    margin-left: 18px;
    margin-bottom: 20px;
}
.modal-btn > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
    color: var(--grey1);
}
.show-modal{
    display: flex;
}

@media (min-width:1024px){
    nav > h1{
        margin-left: 60px;
    }
    nav > button{
        margin-right: 60px;
    }
    main{
        width: 40%;
    }
    header{
        margin-left: 60px;
    }       
    #post-titulo{
        width: 170%;
    }
    #post-conteudo{
        width: 170%;
    }
    .bloco-post > button{
        margin-left: 162%;
        width: 80px;
    }
    article > h2{
        margin-left: 60px;
    }
    .container-big{
        display: flex;
    }
    .roll{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        overflow-x: none;
        overflow: hidden;
        width: 40%;
        margin-left: 400px;
        margin-right: 90px;
    }
    .card{
        display: flex;
        gap: 15px;
        margin-right: 25px;
    }
    #mobile{
        display: none;
    }
    #desk{
        display: block;
        margin-right: 80px;
    }
    .perfil-seguir > button{
        display: none;
    }
    .card > button{
        display: block;
    }
    .containerPost{
        margin-left: 60px;
        max-width: 60%;
    }

}