body{
    font-family: 'Inter', sans-serif;
}
header{
    background-color: var(--grey1);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
header > div > h1{
    color: var(--whithFixed);
    font-weight: 600;
}
header > div > button{
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey4);
    cursor: pointer;
}
.botão-distaque{
    margin-right: 10px;
    background-color: var(--grey2);
    padding: 5px;
    border-radius: 6px;
}
main{
    background-color:#f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    background-color: var(--whithFixed);
    width: 80%;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 30px;
}
form h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin:30px 15px;
    margin-right: 50%;
}
form input{
    width: 60%;
    padding: 16px 20px;
    margin: 7px;
    border: 2px solid #DEE2E6;
    border-radius: 4px;
}
.btn-logar{
    background-color: var(--brand1);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    width: 75%;
    padding: 8px 12px;
    margin: 7px;
    border-radius: 5px;
    color: var(--grey4);
    cursor: pointer;
    margin-top: 20px;
}
form span{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 15px;
}
.btn-registro{
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: var(--grey1);
    border: 1px solid #212529;
    width: 75%;
    padding: 8px 12px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 30px;
}

/* -------Modal------- */

.modal-wrapper{
    height: 100%;
    width: 100%;
    background-color: var(--grey-opacity-1);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal{
    background-color: var(--brand1);
    width: 80%;
    border-radius: 4px;
}
.modal-header{
    display: flex;
    padding: 16px 20px;
}
.modal-header h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--whithFixed);
}
.modal-body{
    padding: 0px 18px;
    margin-bottom: 18px;
}
.modal-body p{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: var(--whithFixed);
}
.modal-btn{
    display: flex;
    justify-content: end;
    margin: 10px;
}
.modal-close{
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}
.show-modal{
    display: flex;
}

@media (min-width:768px){

    header > div{
        margin-left: 60px;
        margin-right: 60px;
    }
    form{
        width: 50%;
    }
    .btn-logar{
        width: 71%;
    }
    .btn-registro{
        width: 71%;
    }
}

@media (min-width:1024px){
    header > div{
        margin-left: 60px;
        margin-right: 60px;
    }
    form{
        width: 30%;
    }
    .btn-logar{
        width: 71%;
    }
    .btn-registro{
        width: 71%;
    }
}